<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title><%= yield :title %></title>
  <%= javascript_include_tag "jquery-1.10.0.min" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "jquery-ui-1.10.0.custom" %>
  <%= stylesheet_link_tag "bootstrap-select.min" %>
  <%= javascript_include_tag "bootstrap-select.min" %>
  <%= javascript_include_tag "highcharts" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
	<!-- end container -->
</body>
</html>
