<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-1.10.0.min" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= stylesheet_link_tag "jquery-ui-1.10.0.custom" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
	<!-- end container -->
</body>
</html>
